.container {
  overflow-x: hidden !important;
}

.bi-why-choose-us-area-1 {
  overflow: hidden;
}

.bi-about-content-4 {
  overflow: hidden;
}
@media (max-width: 480px) {
  .service-img {
    max-height: 400px;
    max-width: 400px;
  }
}
